@tailwind base;
@tailwind components;
@tailwind utilities;
@import-normalize;

footer {
    height: 10vh;
    background: linear-gradient(0deg, rgb(13, 23, 45) 15%, rgb(16, 9, 61) 100%);
    border-top: 2px solid rgb(253,224, 71);
}

