.nav__container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
    width: 100%;
}

nav {
    background: linear-gradient(180deg, rgb(13, 23, 45) 15%, rgb(16, 9, 61) 100%);
    height: 10vh;
    border-bottom: 2px solid rgb(253,224, 71);
}

.nav__cartemptytext {
    place-self: center;
}

.nav__carttotal {
    place-self: center;
    grid-column: 1 / -1;
}

.nav__cartcontainer {
    display: grid;
    grid-gap: 10px;
    position: fixed;
    width: 500px;
    top: 8vh;
    right: 6rem;
    z-index: 7;
    -webkit-box-shadow: 0px 0px 15px 0px #00000035; 
    box-shadow: 0px 0px 15px 0px #00000035
}

.nav__cartitem {
    gap: 10px;
    height: 120px;
    overflow: hidden;
}

div.nav__cartcontainer.p-2.bg-slate-100.absolute > div.nav__cartitem{
    display: grid;
    grid-template-columns: 100px 1fr 100px;
}

.cartitem__delete {
    color: red!important;
}

.cartitem__qtymodifiers {
    color: black;
}

.nav__link {
    color: white;
}

.nav__link.active , .nav__link span {
    color: #fde047;
}

#cart__underline {
    width: 0%;
    height: 2px;
    background-color: red;
}

.nav__link {
    border-bottom: 0px solid #fde047;
    transition: 0.5s ease-in;
}

.nav__link.active {
    border-bottom: 2px solid #fde047;
}

.nav__qty {
 pointer-events: none;
 background-color: red;
 width: 20px;
 height: 20px;
 top: -6px;
 right: -4px;
}

@media screen and (max-width: 1024px) {
    nav .nav__links  {
        width: 40%!important;
    }
}

@media screen and (min-width: 768px) {
    .nav__sidebartoggle {
        display: none!important;
    }

    .nav__links {
        position: relative!important;
        right: unset!important;
        display: flex!important;
    }

    .nav__close {
        display: none!important;
    }
}

@media screen and (max-width: 768px) {
    .nav {
        padding: 40px 35px!important;
    }

    .nav__cartcontainer {
        display: none;
    }

    .nav__close {
        position: absolute;
        right: 35px;
        top: 35px;
    }

    nav.nav .nav__links  {
        padding: 100px 35px;
        flex-direction: column!important;
        position: fixed;
        display: block!important;
        background: linear-gradient(0deg, rgb(13, 23, 45) 15%, rgb(16, 9, 61) 100%);
        right: -300px;
        width: 300px!important;
        top: 0;
        z-index: 10;
        height: 100vh;
    }

    .nav__link {
        display: block;
        margin-bottom: 25px;
    }
    
    .nav__qty {
        display: none!important;
    }
}