.shop {
    min-height: 75vh;
}
.page__navoverlay {
    display: none;
}
.page__navoverlay.visible {
    display: block;
    z-index: 5; 
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: #00000086;
}

.shop__hero {
    height: 150px;
    margin-top: 10vh;
    background-position: center;
    background-size: 100% auto;
    background-image: url('../Media/shop-bg.jpg');
}

.shop__hero h1 {
    text-shadow: 0 0 10px rgb(0, 0, 0);
    margin-top: -15px;
    
}


.shop__maincontainer {
    min-height: 75vh;
    max-width: 100%;
}

.shop_addedpopup {
    width: 300px;
    right: 6rem;
    bottom: 30px;
    -webkit-box-shadow: 0px 0px 15px 0px #00000035; 
    box-shadow: 0px 0px 15px 0px #00000035;
    z-index: 5;
}

.shop__productscontainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.shop__productcontainer {
    width: 100%;
    height: 100%;
    place-self: center;
}
.nav__cartemptytext {
    place-self: center;
}

.nav__carttotal {
    place-self: center;
    grid-column: 1 / -1;
}

.shop__product {
    align-self: right;
    width: 100%;
    background-color: white;
    padding: 10px;
    position: relative;
}

.shop__productimg {
    width: 100%;
    height: 175px;
    background-size: 100% auto ;
    background-position: center;
    background-repeat: no-repeat;
}

.product__price--sale {
    color: red;
}

.product__price--sale:after {
    content: 'SALE';
    font-weight: 600;
    color: black;
    background-color: #fde047; 
    padding: 2px 8px;
    border-radius: 5px;
    right: 10px;
    top: 10px;
    position: absolute;
}

.product__addbtn {
    overflow: hidden;
    color: white;
    background-image: linear-gradient(to right, rgb(29, 78, 216), rgb(126, 34, 206) 75%);
}

.addbtn__icon {
    position: absolute;
    width: 48px!important;
    height: 32px!important;
    padding: 0.4rem!important;
    top: 0;
    left: -5px;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 200px;
    background-color: #5184fa;
}

#root > div > div > div.shop__hero.relative.flex.items-center.justify-center.bg-slate-200 > h1 > div > span.shop__cursor.text-5xl.font-light.text-yellow-300 { 
    animation: cursor__blink 1.5s linear infinite;
    animation-delay: 1.5s;
}

@keyframes cursor__blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 1400px) {
    .shop__productscontainer {
        grid-template-columns: repeat(3, 1fr);
    }

    .shop__productcontainer {
        width: 100%;
    }

    .shop__product {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 800px) {
    .shop__maincontainer {
        padding: 1.5rem!important;
    }
    .shop_addedpopup{
        right: 25%;
        width: 50vw;
        transform: translateX(50%);
    }

    .shop__productscontainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .shop__productscontainer {
        grid-template-columns: repeat(1, 1fr);
    }
}